@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .boxNav {
    @apply relative tracking-[1px] hover:text-yellow-300 px-5 font-extrabold text-2xl;
  }
  .boxNav::before {
    @apply content-[""] bg-black h-9 w-[0%] left-0 -bottom-[5px]  absolute duration-500 -z-20 text-yellow-300;
  }
  .boxNav:hover::before {
    @apply w-full; /* Use w-full directly, no need for @apply here */
  }
  .boxNavSmall {
    @apply relative tracking-[1px] hover:text-yellow-300 px-5 font-extrabold text-2xl;
  }
  .boxNavSmall::before {
    @apply content-[""] bg-black h-12 w-[0%] left-0 -bottom-[5px]  absolute duration-500 -z-20 text-yellow-300;
  }
  .boxNavSmall:hover::before {
    @apply w-full; /* Use w-full directly, no need for @apply here */
  }
  .menuItemTittle {
    @apply font-menuTitle capitalize font-extrabold  sm:text-3xl text-3xl;
  }
  .menuItem {
    @apply flex flex-col items-center  sm:w-[100%] md:w-full w-[100%] justify-center;
  }

  .menuItemWord {
    @apply sm:font-normal  sm:w-[20rem] sm:text-lg text-sm  w-[300px] text-center mt-5 px-3;
  }
}

body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

/* DrinkLogo.css */

.fade-in {
  opacity: 0;
}

.show {
  opacity: 1;
  transition: opacity 1s ease-in-out; /* You can adjust the transition duration and easing function */
}
@keyframes panDown {
  0%,
  100% {
    background-position: center top;
  }
  50% {
    background-position: center bottom;
  }
}

html,
body {
  min-height: 100svh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* or h-screen for Tailwind */
}

.blur-load.loaded > img {
  opacity: 1;
  width: 300px;
  height: 300px;
  aspect-ratio: 1/1;
}

.blur-load > img {
  opacity: 0;
  height: 0;
  width: 0;
  transition: opacity 300ms ease-in-out;
}
